# Movie Analysis

### Importing modules

In [1]:
# importing modules
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

### Saving Datasets to user computer and loading it dynamically

In [2]:
path_1 = kagglehub.dataset_download("rajugc/imdb-movies-dataset-based-on-genre")
path_2 = kagglehub.dataset_download("ruchi798/movies-on-netflix-prime-video-hulu-and-disney")
scifi_dataset = pd.read_csv(f"{path_1}/scifi.csv")
stream_dataset = pd.read_csv(f"{path_2}/MoviesOnStreamingPlatforms.csv")

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.7), please consider upgrading to the latest version (0.3.8).
Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.7), please consider upgrading to the latest version (0.3.8).

In [3]:
scifi_dataset.columns

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)'],
      dtype='object')

In [4]:
# original columns     ['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
#           'rating', 'description', 'director', 'director_id', 'star', 'star_id',
#           'votes', 'gross(in $)'] 
scifi_dataset = scifi_dataset.drop(
    ['movie_id','year', 'certificate', 'runtime', 'genre', 'director_id', 'star_id', 'gross(in $)'], axis='columns'
)
scifi_dataset.columns = (
    scifi_dataset.columns
    .str.upper()
    .str.strip()
    .str.replace('_',' ')
)
scifi_dataset.columns

Index(['MOVIE NAME', 'RATING', 'DESCRIPTION', 'DIRECTOR', 'STAR', 'VOTES'], dtype='object')

In [5]:
stream_dataset.columns = (
    stream_dataset.columns
    .str.upper()
    .str.strip()
    .str.replace('_',' ')
)
stream_dataset['ROTTEN TOMATOES'] = stream_dataset['ROTTEN TOMATOES'].astype(str)
stream_dataset['ROTTEN TOMATOES'] = stream_dataset['ROTTEN TOMATOES'].apply(
    lambda x: (float(x.split('/')[0]) / float(x.split('/')[1]) * 100) if '/' in x else None)
stream_dataset = stream_dataset.drop(
    ['UNNAMED: 0', 'ID', 'YEAR', 'AGE', 'TYPE'], axis ='columns')

stream_dataset[['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']] = stream_dataset[['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']].astype(bool)
stream_dataset = stream_dataset.rename(columns={'TITLE': 'MOVIE NAME'})
stream_dataset = stream_dataset.dropna()
#stream_cleaned.info()
stream_dataset.columns = stream_dataset.columns.str.strip().str.upper()

In [6]:
stream_dataset.columns

Index(['MOVIE NAME', 'ROTTEN TOMATOES', 'NETFLIX', 'HULU', 'PRIME VIDEO',
       'DISNEY+'],
      dtype='object')

In [7]:
scifi_dataset.head(5)

,MOVIE NAME,RATING,DESCRIPTION,DIRECTOR,STAR,VOTES
0,Black Panther: Wakanda Forever,6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...",204965.0
1,Avatar: The Way of Water,7.8,Jake Sully lives with his newfound family form...,James Cameron,"Sam Worthington, \nZoe Saldana, \nSigourney We...",295177.0
2,Everything Everywhere All at Once,8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert","Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...",327912.0
3,M3GAN,6.4,A robotics engineer at a toy company builds a ...,Gerard Johnstone,"Allison Williams, \nViolet McGraw, \nRonny Chi...",62493.0
4,Ant-Man and the Wasp: Quantumania,6.6,"Scott Lang and Hope Van Dyne, along with Hank ...",Peyton Reed,"Paul Rudd, \nEvangeline Lilly, \nJonathan Majo...",5707.0

In [8]:
stream_dataset.head(5)

,MOVIE NAME,ROTTEN TOMATOES,NETFLIX,HULU,PRIME VIDEO,DISNEY+
0,The Irishman,98.0,True,False,False,False
1,Dangal,97.0,True,False,False,False
2,David Attenborough: A Life on Our Planet,95.0,True,False,False,False
3,Lagaan: Once Upon a Time in India,94.0,True,False,False,False
4,Roma,94.0,True,False,False,False