# SciFi Movie Analysis

### Importing modules

In [134]:
# importing modules
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter
import requests
import os

### Saving Datasets to user computer and loading it dynamically

In [135]:
# saving to paths
genre_data = kagglehub.dataset_download("rajugc/imdb-movies-dataset-based-on-genre")
stream_data = kagglehub.dataset_download("ruchi798/movies-on-netflix-prime-video-hulu-and-disney")
print("Path to dataset files:", genre_data)
print("Path to dataset files:", stream_data)

Path to dataset files: C:\Users\drvan\.cache\kagglehub\datasets\rajugc\imdb-movies-dataset-based-on-genre\versions\3
Path to dataset files: C:\Users\drvan\.cache\kagglehub\datasets\ruchi798\movies-on-netflix-prime-video-hulu-and-disney\versions\5

In [158]:
def load_csv_files(directory):
    csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
    
    dataframes = {}
    
    for file in csv_files:
        file_name = os.path.splitext(file)[0]  # Get the file name without the extension
        var_name = file_name + '_data'  # Create the variable name
        file_path = os.path.join(directory, file)
        
        # Read the CSV file into a DataFrame and assign it to the dictionary
        dataframes[var_name] = pd.read_csv(file_path)
    
    return dataframes

# Usage

data = load_csv_files(genre_data)

# Print the entire dictionary to verify the output
for key, dataframe in data.items():
    print(f"{key}:\n{dataframe.head()}\n")

action_data:
    movie_id                         movie_name  year certificate  runtime  \
0  tt9114286     Black Panther: Wakanda Forever  2022       PG-13  161 min
1  tt1630029           Avatar: The Way of Water  2022       PG-13  192 min
2  tt5884796                              Plane  2023           R  107 min
3  tt6710474  Everything Everywhere All at Once  2022           R  139 min
4  tt5433140                             Fast X  2023         NaN      NaN

                        genre  rating  \
0    Action, Adventure, Drama     6.9
1  Action, Adventure, Fantasy     7.8
2            Action, Thriller     6.5
3   Action, Adventure, Comedy     8.0
4      Action, Crime, Mystery     NaN

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                       director       director_id  \
0                  Ryan Coogler  /name/nm3363032/
1                 James Cameron  /name/nm0000116/
2          Jean-François Richet  /name/nm0724938/
3  Dan Kwan, \nDaniel Scheinert  /name/nm3453283/
4               Louis Leterrier  /name/nm0504642/

                                                star  \
0  Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1  Sam Worthington, \nZoe Saldana, \nSigourney We...
2  Gerard Butler, \nMike Colter, \nTony Goldwyn, ...
3  Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
4  Vin Diesel, \nJordana Brewster, \nTyrese Gibso...

                                             star_id     votes  gross(in $)
0  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
2  /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0          NaN
3  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0          NaN
4  /name/nm0004874/,/name/nm0108287/,/name/nm0879...       NaN          NaN

adventure_data:
     movie_id                         movie_name  year certificate  runtime  \
0   tt9114286     Black Panther: Wakanda Forever  2022       PG-13  161 min
1   tt1630029           Avatar: The Way of Water  2022       PG-13  192 min
2   tt6710474  Everything Everywhere All at Once  2022           R  139 min
3   tt3915174       Puss in Boots: The Last Wish  2022          PG  102 min
4  tt10954600  Ant-Man and the Wasp: Quantumania  2023       PG-13  125 min

                          genre  rating  \
0      Action, Adventure, Drama     6.9
1    Action, Adventure, Fantasy     7.8
2     Action, Adventure, Comedy     8.0
3  Animation, Adventure, Comedy     7.9
4     Action, Adventure, Comedy     6.6

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A middle-aged Chinese immigrant is swept up in...
3  When Puss in Boots discovers that his passion ...
4  Scott Lang and Hope Van Dyne, along with Hank ...

                          director       director_id  \
0                     Ryan Coogler  /name/nm3363032/
1                    James Cameron  /name/nm0000116/
2     Dan Kwan, \nDaniel Scheinert  /name/nm3453283/
3  Joel Crawford, \nJanuel Mercado  /name/nm3150455/
4                      Peyton Reed  /name/nm0715636/

                                                star  \
0  Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1  Sam Worthington, \nZoe Saldana, \nSigourney We...
2  Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
3  Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
4  Paul Rudd, \nEvangeline Lilly, \nJonathan Majo...

                                             star_id     votes  gross(in $)
0  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
2  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0          NaN
3  /name/nm2591093/,/name/nm0000104/,/name/nm0000...   75016.0          NaN
4  /name/nm0748620/,/name/nm1431940/,/name/nm3718...    5396.0          NaN

animation_data:
     movie_id                                         movie_name  year  \
0   tt3915174                       Puss in Boots: The Last Wish  2022
1   tt6718170                        The Super Mario Bros. Movie  2023
2  tt26537229  Demon Slayer: Kimetsu No Yaiba - To the Swords...  2023
3   tt1488589                     Guillermo del Toro's Pinocchio  2022
4  tt14668630                              Lyle, Lyle, Crocodile  2022

  certificate  runtime                         genre  rating  \
0          PG  102 min  Animation, Adventure, Comedy     7.9
1          PG   92 min  Animation, Adventure, Comedy     NaN
2           R  110 min  Animation, Action, Adventure     6.6
3          PG  117 min      Animation, Drama, Family     7.6
4          PG  106 min  Animation, Adventure, Comedy     6.1

                                         description  \
0  When Puss in Boots discovers that his passion ...
1  The story of The Super Mario Bros. on their jo...
2  All the Upper Rank Demons assemble at the Infi...
3  A father's wish magically brings a wooden boy ...
4  Feature film based on the children's book abou...

                               director       director_id  \
0       Joel Crawford, \nJanuel Mercado  /name/nm3150455/
1      Aaron Horvath, \nMichael Jelenic  /name/nm1739338/
2                        Haruo Sotozaki  /name/nm1417038/
3  Guillermo del Toro, \nMark Gustafson  /name/nm0868219/
4             Josh Gordon, \nWill Speck  /name/nm0330347/

                                                star  \
0  Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
1  Chris Pratt, \nAnya Taylor-Joy, \nCharlie Day,...
2  Zach Aguilar, \nKira Buckland, \nGriffin Burns...
3  Ewan McGregor, \nDavid Bradley, \nGregory Mann...
4  Javier Bardem, \nWinslow Fegley, \nShawn Mende...

                                             star_id    votes  gross(in $)
0  /name/nm2591093/,/name/nm0000104/,/name/nm0000...  93143.0  168464485.0
1  /name/nm2398585/,/name/nm0695435/,/name/nm5896...      NaN          NaN
2  /name/nm6450743/,/name/nm2299231/,/name/nm4232...   1316.0          NaN
3  /name/nm0348993/,/name/nm0000191/,/name/nm0103...  86296.0          NaN
4  /name/nm0817447/,/name/nm0000849/,/name/nm9121...   9351.0   46888441.0

biography_data:
     movie_id               movie_name  year certificate  runtime  \
0   tt3704428                    Elvis  2022       PG-13  159 min
1   tt0993846  The Wolf of Wall Street  2013           R  180 min
2   tt0264464      Catch Me If You Can  2002       PG-13  141 min
3  tt12374656                    Emily  2022           R  130 min
4  tt15398776              Oppenheimer  2023         NaN      NaN

                       genre  rating  \
0    Biography, Drama, Music     7.3
1   Biography, Comedy, Crime     8.2
2    Biography, Crime, Drama     8.1
3  Biography, Drama, Romance     6.9
4  Biography, Drama, History     NaN

                                         description           director  \
0  The life of American music icon Elvis Presley,...       Baz Luhrmann
1  Based on the true story of Jordan Belfort, fro...    Martin Scorsese
2  Barely 21 yet, Frank is a skilled forger who h...   Steven Spielberg
3  "Emily" imagines the transformative, exhilarat...   Frances O'Connor
4  The story of American scientist J. Robert Oppe...  Christopher Nolan

        director_id                                               star  \
0  /name/nm0525303/  Tom Hanks, \nAustin Butler, \nOlivia DeJonge, ...
1  /name/nm0000217/  Leonardo DiCaprio, \nJonah Hill, \nMargot Robb...
2  /name/nm0000229/  Leonardo DiCaprio, \nTom Hanks, \nChristopher ...
3  /name/nm0640323/  Emma Mackey, \nOliver Jackson-Cohen, \nFionn W...
4  /name/nm0634240/  Cillian Murphy, \nEmily Blunt, \nMatt Damon, \...

                                             star_id      votes  gross(in $)
0  /name/nm0000158/,/name/nm2581521/,/name/nm4609...   189732.0  151040048.0
1  /name/nm0000138/,/name/nm1706767/,/name/nm3053...  1437780.0  116900694.0
2  /name/nm0000138/,/name/nm0000158/,/name/nm0000...  1003050.0  164615351.0
3  /name/nm8076281/,/name/nm2719825/,/name/nm7887...     3888.0          NaN
4  /name/nm0614165/,/name/nm1289434/,/name/nm0000...        NaN          NaN

crime_data:
     movie_id         movie_name  year certificate  runtime  \
0   tt5433140             Fast X  2023         NaN      NaN
1  tt11564570        Glass Onion  2022       PG-13  139 min
2  tt10365998      Infinity Pool  2023           R  117 min
3  tt14138650  The Pale Blue Eye  2022           R  128 min
4  tt15789492           Infiesto  2023       TV-MA   96 min

                    genre  rating  \
0  Action, Crime, Mystery     NaN
1    Comedy, Crime, Drama     7.2
2  Crime, Horror, Mystery     6.5
3  Crime, Horror, Mystery     6.6
4  Crime, Drama, Thriller     5.5

                                         description            director  \
0  Dom Toretto and his family are targeted by the...     Louis Leterrier
1  Famed Southern detective Benoit Blanc travels ...        Rian Johnson
2  James and Em Foster are enjoying an all-inclus...  Brandon Cronenberg
3  A world-weary detective is hired to investigat...        Scott Cooper
4  Two detectives are called to a small mining to...       Patxi Amezcua

        director_id                                               star  \
0  /name/nm0504642/  Vin Diesel, \nJordana Brewster, \nTyrese Gibso...
1  /name/nm0426059/  Daniel Craig, \nEdward Norton, \nKate Hudson, ...
2  /name/nm0188722/  Alexander Skarsgård, \nMia Goth, \nCleopatra C...
3  /name/nm0178376/  Christian Bale, \nHarry Melling, \nSimon McBur...
4  /name/nm0025538/  Isak Férriz, \nIria del Río, \nAntonio Buíl, \...

                                             star_id     votes  gross(in $)
0  /name/nm0004874/,/name/nm0108287/,/name/nm0879...       NaN          NaN
1  /name/nm0185819/,/name/nm0001570/,/name/nm0005...  333315.0          NaN
2  /name/nm0002907/,/name/nm5301405/,/name/nm1671...    6955.0          NaN
3  /name/nm0000288/,/name/nm0577982/,/name/nm0564...   85087.0          NaN
4  /name/nm1929945/,/name/nm4170579/,/name/nm0125...    2081.0          NaN

family_data:
     movie_id                             movie_name  year certificate  \
0   tt3915174           Puss in Boots: The Last Wish  2022          PG
1   tt2353868                            True Spirit  2023       TV-PG
2  tt14668630                  Lyle, Lyle, Crocodile  2022          PG
3   tt6718170            The Super Mario Bros. Movie  2023          PG
4   tt0241527  Harry Potter and the Sorcerer's Stone  2001          PG

   runtime                         genre  rating  \
0  102 min  Animation, Adventure, Comedy     7.9
1  109 min   Adventure, Biography, Drama     6.8
2  106 min  Animation, Adventure, Comedy     6.1
3      NaN  Animation, Adventure, Comedy     NaN
4  152 min    Adventure, Family, Fantasy     7.6

                                         description  \
0  When Puss in Boots discovers that his passion ...
1  The story of Australian teenager, Jessica Wats...
2  Feature film based on the children's book abou...
3  The story of The Super Mario Bros. on their jo...
4  An orphaned boy enrolls in a school of wizardr...

                           director       director_id  \
0   Joel Crawford, \nJanuel Mercado  /name/nm3150455/
1                    Sarah Spillane  /name/nm1417049/
2         Josh Gordon, \nWill Speck  /name/nm0330347/
3  Aaron Horvath, \nMichael Jelenic  /name/nm1739338/
4                    Chris Columbus  /name/nm0001060/

                                                star  \
0  Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
1  Alyla Browne, \nTeagan Croft, \nCliff Curtis, ...
2  Javier Bardem, \nWinslow Fegley, \nShawn Mende...
3  Chris Pratt, \nAnya Taylor-Joy, \nCharlie Day,...
4  Daniel Radcliffe, \nRupert Grint, \nRichard Ha...

                                             star_id     votes  gross(in $)
0  /name/nm2591093/,/name/nm0000104/,/name/nm0000...   75016.0          NaN
1  /name/nm10752061/,/name/nm7509279/,/name/nm019...    3747.0          NaN
2  /name/nm0817447/,/name/nm0000849/,/name/nm9121...    8131.0          NaN
3  /name/nm2398585/,/name/nm0695435/,/name/nm5896...       NaN          NaN
4  /name/nm0705356/,/name/nm0342488/,/name/nm0001...  792448.0  317575550.0

fantasy_data:
     movie_id                         movie_name  year certificate  runtime  \
0   tt9114286     Black Panther: Wakanda Forever  2022       PG-13  161 min
1   tt1630029           Avatar: The Way of Water  2022       PG-13  192 min
2   tt6710474  Everything Everywhere All at Once  2022           R  139 min
3   tt3915174       Puss in Boots: The Last Wish  2022          PG  102 min
4  tt15486810               Teen Wolf: The Movie  2023       TV-MA  140 min

                          genre  rating  \
0      Action, Adventure, Drama     6.9
1    Action, Adventure, Fantasy     7.8
2     Action, Adventure, Comedy     8.0
3  Animation, Adventure, Comedy     7.9
4        Action, Drama, Fantasy     5.6

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A middle-aged Chinese immigrant is swept up in...
3  When Puss in Boots discovers that his passion ...
4  A terrifying evil has emerged. The wolves howl...

                          director       director_id  \
0                     Ryan Coogler  /name/nm3363032/
1                    James Cameron  /name/nm0000116/
2     Dan Kwan, \nDaniel Scheinert  /name/nm3453283/
3  Joel Crawford, \nJanuel Mercado  /name/nm3150455/
4                  Russell Mulcahy  /name/nm0611683/

                                                star  \
0  Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1  Sam Worthington, \nZoe Saldana, \nSigourney We...
2  Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
3  Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
4  Tyler Posey, \nCrystal Reed, \nHolland Roden, ...

                                             star_id     votes  gross(in $)
0  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
2  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0          NaN
3  /name/nm2591093/,/name/nm0000104/,/name/nm0000...   75016.0          NaN
4  /name/nm0692677/,/name/nm3706952/,/name/nm1555...    9026.0          NaN

film-noir_data:
    movie_id           movie_name  year certificate  runtime  \
0  tt0043014         Sunset Blvd.  1950         NaN  110 min
1  tt0045877      The Hitch-Hiker  1953         NaN   71 min
2  tt0032976              Rebecca  1940         NaN  130 min
3  tt0033870   The Maltese Falcon  1941         NaN  100 min
4  tt0036809  The Falcon Out West  1944         NaN   64 min

                       genre  rating  \
0           Drama, Film-Noir     8.4
1    Crime, Drama, Film-Noir     6.9
2  Drama, Film-Noir, Mystery     8.1
3  Crime, Film-Noir, Mystery     8.0
4    Crime, Drama, Film-Noir     6.1

                                         description          director  \
0  A screenwriter develops a dangerous relationsh...      Billy Wilder
1  Two fishermen pick up a psychopathic escaped c...        Ida Lupino
2  A self-conscious woman juggles adjusting to he...  Alfred Hitchcock
3  San Francisco private detective Sam Spade take...       John Huston
4  Detective Falcon and the police travel west to...   William Clemens

        director_id                                               star  \
0  /name/nm0000697/  William Holden, \nGloria Swanson, \nErich von ...
1  /name/nm0526946/  Edmond O'Brien, \nFrank Lovejoy, \nWilliam Tal...
2  /name/nm0000033/  Laurence Olivier, \nJoan Fontaine, \nGeorge Sa...
3  /name/nm0001379/  Humphrey Bogart, \nMary Astor, \nGladys George...
4  /name/nm0166058/  Tom Conway, \nCarole Gallagher, \nBarbara Hale...

                                             star_id     votes  gross(in $)
0  /name/nm0000034/,/name/nm0841797/,/name/nm0002...  224111.0          NaN
1  /name/nm0639529/,/name/nm0522481/,/name/nm0848...    9474.0          NaN
2  /name/nm0000059/,/name/nm0000021/,/name/nm0001...  138938.0    4360000.0
3  /name/nm0000007/,/name/nm0000802/,/name/nm0313...  160669.0    2108060.0
4  /name/nm0007218/,/name/nm0302347/,/name/nm0354...     687.0          NaN

history_data:
     movie_id                     movie_name  year certificate  runtime  \
0  tt10640346                        Babylon  2022           R  189 min
1  tt10304142                      Amsterdam  2022           R  134 min
2  tt11138512                   The Northman  2022           R  137 min
3   tt9737876  Narvik: Hitler's First Defeat  2022       TV-14  108 min
4   tt8093700                 The Woman King  2022       PG-13  135 min

                      genre  rating  \
0    Comedy, Drama, History     7.4
1    Comedy, Drama, History     6.1
2  Action, Adventure, Drama     7.1
3       Drama, History, War     6.6
4    Action, Drama, History     6.7

                                         description               director  \
0  A tale of outsized ambition and outrageous exc...        Damien Chazelle
1  In the 1930s, three friends witness a murder, ...       David O. Russell
2  A young Viking prince is on a quest to avenge ...          Robert Eggers
3  April 1940. The eyes of the world are on Narvi...       Erik Skjoldbjærg
4  A historical epic inspired by true events that...  Gina Prince-Bythewood

        director_id                                               star  \
0  /name/nm3227090/  Brad Pitt, \nMargot Robbie, \nJean Smart, \nOl...
1  /name/nm0751102/  Christian Bale, \nMargot Robbie, \nJohn David ...
2  /name/nm3211470/  Alexander Skarsgård, \nNicole Kidman, \nClaes ...
3  /name/nm0804408/  Billy Campbell, \nKristine Hartgen, \nStig Hen...
4  /name/nm0697656/  Viola Davis, \nThuso Mbedu, \nLashana Lynch, \...

                                             star_id     votes  gross(in $)
0  /name/nm0000093/,/name/nm3053338/,/name/nm0005...   66051.0          NaN
1  /name/nm0000288/,/name/nm3053338/,/name/nm0913...   65277.0          NaN
2  /name/nm0002907/,/name/nm0000173/,/name/nm0051...  217036.0          NaN
3  /name/nm0001004/,/name/nm12242794/,/name/nm038...    9051.0          NaN
4  /name/nm0205626/,/name/nm9096847/,/name/nm2736...   48483.0          NaN

horror_data:
     movie_id          movie_name  year certificate  runtime  \
0  tt15679400  Knock at the Cabin  2023           R  100 min
1   tt9764362            The Menu  2022           R  107 min
2   tt8760708               M3GAN  2022       PG-13  102 min
3  tt13051810         Viking Wolf  2022       TV-MA   97 min
4  tt10365998       Infinity Pool  2023           R  117 min

                       genre  rating  \
0  Horror, Mystery, Thriller     6.4
1           Horror, Thriller     7.2
2   Horror, Sci-Fi, Thriller     6.4
3           Horror, Thriller     5.1
4     Crime, Horror, Mystery     6.5

                                         description            director  \
0  While vacationing, a girl and her parents are ...  M. Night Shyamalan
1  A young couple travels to a remote island to e...          Mark Mylod
2  A robotics engineer at a toy company builds a ...    Gerard Johnstone
3  Thale (17) has just moved with her parents to ...       Stig Svendsen
4  James and Em Foster are enjoying an all-inclus...  Brandon Cronenberg

        director_id                                               star  \
0  /name/nm0796117/  Dave Bautista, \nJonathan Groff, \nRupert Grin...
1  /name/nm0617042/  Ralph Fiennes, \nAnya Taylor-Joy, \nNicholas H...
2  /name/nm2067421/  Allison Williams, \nViolet McGraw, \nRonny Chi...

In [165]:
def select_genre(dataframes):
    # Ask the user to select a genre
    genre = input("Please select a genre (e.g., scifi, action, romance): ").lower()
    var_name = genre + '_data'
    
    # Check if the genre exists in the dataframes dictionary
    if var_name in dataframes:
        print(f"You selected {genre}. Preparing the data for cleaning...\n")
        selected_data = dataframes[var_name]
        
        # Here you can add your data cleaning steps
        # For demonstration, let's just print the first few rows
        print(selected_data.head())
        
        # Return the selected DataFrame for further processing
        return selected_data
    else:
        print(f"Sorry, the genre '{genre}' is not available.")
        return None

In [166]:
select_genre(dataframe)

Sorry, the genre 'scifi' is not available.

In [155]:
def load_csv_files(directory):
    csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
    
    dataframes = {}
    
    for file in csv_files:
        file_name = os.path.splitext(file)[0]
        var_name = file_name + '_data'
        file_path = os.path.join(directory, file)
        dataframes[var_name] = pd.read_csv(file_path)
     
    return dataframes

In [156]:
data = load_csv_files(genre_data)

# Print the entire dictionary
print(data)

# If you want to print each dataframe separately
for key, dataframe in data.items():
    print(f"{key}:\n{dataframe}\n")

{'action_data':          movie_id                         movie_name  year certificate  \
0       tt9114286     Black Panther: Wakanda Forever  2022       PG-13
1       tt1630029           Avatar: The Way of Water  2022       PG-13
2       tt5884796                              Plane  2023           R
3       tt6710474  Everything Everywhere All at Once  2022           R
4       tt5433140                             Fast X  2023         NaN
...           ...                                ...   ...         ...
52447  tt26743984                          Suicide 2  1999         NaN
52448  tt26744184                              Chaos  2023         NaN
52449  tt26744484                      Revolver Lily   NaN         NaN
52450  tt26744765                           The Wing   NaN         NaN
52451  tt26745202                       Vey Dharuvey   NaN         NaN

       runtime                       genre  rating  \
0      161 min    Action, Adventure, Drama     6.9
1      192 min  Action, Adventure, Fantasy     7.8
2      107 min            Action, Thriller     6.5
3      139 min   Action, Adventure, Comedy     8.0
4          NaN      Action, Crime, Mystery     NaN
...        ...                         ...     ...
52447   54 min       Action, Drama, Horror     NaN
52448      NaN            Action, Thriller     NaN
52449      NaN           Action, Adventure     NaN
52450      NaN                      Action     NaN
52451      NaN              Action, Comedy     NaN

                                             description  \
0      The people of Wakanda fight to protect their h...
1      Jake Sully lives with his newfound family form...
2      A pilot finds himself caught in a war zone aft...
3      A middle-aged Chinese immigrant is swept up in...
4      Dom Toretto and his family are targeted by the...
...                                                  ...
52447  Matt awakens after trying to end his own life ...
52448                                         Add a Plot
52449  Takes place in 1924 and centres on Yuri, who k...
52450  The most secret and elite Special Forces unit ...
52451                                         Add a Plot

                                                director        director_id  \
0                                           Ryan Coogler   /name/nm3363032/
1                                          James Cameron   /name/nm0000116/
2                                   Jean-François Richet   /name/nm0724938/
3                           Dan Kwan, \nDaniel Scheinert   /name/nm3453283/
4                                        Louis Leterrier   /name/nm0504642/
...                                                  ...                ...
52447              Brandon Womeldorff, \nMatt Brassfield  /name/nm13690776/
52448  Aditi Prabhudeva, \nSiddu Moolimani, \nAkshith...   /name/nm8898786/
52449                                      Isao Yukisada   /name/nm0950834/
52450                                                NaN                NaN
52451                                    D. Naveen Reddy  /name/nm14569102/

                                                    star  \
0      Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1      Sam Worthington, \nZoe Saldana, \nSigourney We...
2      Gerard Butler, \nMike Colter, \nTony Goldwyn, ...
3      Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
4      Vin Diesel, \nJordana Brewster, \nTyrese Gibso...
...                                                  ...
52447  Matt Hoffman, \nMatt Brassfield, \nBrandon Wom...
52448                                                NaN
52449                                                NaN
52450                                                NaN
52451  Sunil, \nHebah Patel, \nKrishna Murali Posani,...

                                                 star_id     votes  \
0      /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0
1      /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0
2      /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0
3      /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0
4      /name/nm0004874/,/name/nm0108287/,/name/nm0879...       NaN
...                                                  ...       ...
52447  /name/nm1565857/,/name/nm7326486/,/name/nm1565...       NaN
52448  /name/nm7465869/,/name/nm12502668/,/name/nm545...       NaN
52449                                                NaN       NaN
52450                                                NaN       NaN
52451  /name/nm1198628/,/name/nm6171293/,/name/nm0692...       NaN

       gross(in $)
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
52447          NaN
52448          NaN
52449          NaN
52450          NaN
52451          NaN

[52452 rows x 14 columns], 'adventure_data':          movie_id                            movie_name  year certificate  \
0       tt9114286        Black Panther: Wakanda Forever  2022       PG-13
1       tt1630029              Avatar: The Way of Water  2022       PG-13
2       tt6710474     Everything Everywhere All at Once  2022           R
3       tt3915174          Puss in Boots: The Last Wish  2022          PG
4      tt10954600     Ant-Man and the Wasp: Quantumania  2023       PG-13
...           ...                                   ...   ...         ...
25659  tt26735703           Mirai Kara Ochitekita Otoko  1991         NaN
25660  tt26735766                      The Black Scarab   NaN         NaN
25661  tt26741488                           Kung Fu Dog  2019         NaN
25662  tt26743210  How to Train Your Dragon Live-Action  2025         NaN
25663  tt26744484                         Revolver Lily   NaN         NaN

       runtime                         genre  rating  \
0      161 min      Action, Adventure, Drama     6.9
1      192 min    Action, Adventure, Fantasy     7.8
2      139 min     Action, Adventure, Comedy     8.0
3      102 min  Animation, Adventure, Comedy     7.9
4      125 min     Action, Adventure, Comedy     6.6
...        ...                           ...     ...
25659      NaN                     Adventure     NaN
25660      NaN                     Adventure     NaN
25661   96 min          Animation, Adventure     NaN
25662      NaN                     Adventure     NaN
25663      NaN             Action, Adventure     NaN

                                             description  \
0      The people of Wakanda fight to protect their h...
1      Jake Sully lives with his newfound family form...
2      A middle-aged Chinese immigrant is swept up in...
3      When Puss in Boots discovers that his passion ...
4      Scott Lang and Hope Van Dyne, along with Hank ...
...                                                  ...
25659                                         Add a Plot
25660                                         Add a Plot
25661  The Kung Fu Masters are back. When an evil dog...
25662  Follows a young Viking as he aspires to hunt d...
25663  Takes place in 1924 and centres on Yuri, who k...

                                          director        director_id  \
0                                     Ryan Coogler   /name/nm3363032/
1                                    James Cameron   /name/nm0000116/
2                     Dan Kwan, \nDaniel Scheinert   /name/nm3453283/
3                  Joel Crawford, \nJanuel Mercado   /name/nm3150455/
4                                      Peyton Reed   /name/nm0715636/
...                                            ...                ...
25659  Celine H. Higgins Lazarus, \nHiroshi Mikami  /name/nm14563496/
25660                                          NaN                NaN
25661                                    Leon Ding   /name/nm5694753/
25662                                 Dean DeBlois   /name/nm0213450/
25663                                Isao Yukisada   /name/nm0950834/

                                                    star  \
0      Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1      Sam Worthington, \nZoe Saldana, \nSigourney We...
2      Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
3      Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
4      Paul Rudd, \nEvangeline Lilly, \nJonathan Majo...
...                                                  ...
25659                                                NaN
25660                                                NaN
25661                                                NaN
25662                                                NaN
25663                                                NaN

                                                 star_id     votes  \
0      /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0
1      /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0
2      /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0
3      /name/nm2591093/,/name/nm0000104/,/name/nm0000...   75016.0
4      /name/nm0748620/,/name/nm1431940/,/name/nm3718...    5396.0
...                                                  ...       ...
25659                                   /name/nm0586345/       NaN
25660                                                NaN       NaN
25661                                                NaN       NaN
25662                                                NaN       NaN
25663                                                NaN       NaN

       gross(in $)
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
...            ...
25659          NaN
25660          NaN
25661          NaN
25662          NaN
25663          NaN

[25664 rows x 14 columns], 'animation_data':         movie_id                                         movie_name  year  \
0      tt3915174                       Puss in Boots: The Last Wish  2022
1      tt6718170                        The Super Mario Bros. Movie  2023
2     tt26537229  Demon Slayer: Kimetsu No Yaiba - To the Swords...  2023
3      tt1488589                     Guillermo del Toro's Pinocchio  2022
4     tt14668630                              Lyle, Lyle, Crocodile  2022
...          ...                                                ...   ...
8414  tt27033910                             Nati Meséi Tündérmesék  2021
8415  tt27034626              Bullet War Part 1 - Battle of Madness  2022
8416  tt27036866             Dive Olly Dive: A Hero's Magical Quest  2020
8417  tt27049583             Cat Pack: A PAW Patrol Exclusive Event  2022
8418  tt27052306                                   Sono ancora vivo   NaN

     certificate  runtime                         genre  rating  \
0             PG  102 min  Animation, Adventure, Comedy     7.9
1             PG   92 min  Animation, Adventure, Comedy     NaN
2              R  110 min  Animation, Action, Adventure     6.6
3             PG  117 min      Animation, Drama, Family     7.6
4             PG  106 min  Animation, Adventure, Comedy     6.1
...          ...      ...                           ...     ...
8414         NaN   47 min                     Animation     NaN
8415         13+   48 min   Animation, Action, Thriller     NaN
8416         NaN   78 min                     Animation     NaN
8417         NaN      NaN                     Animation     NaN
8418         NaN      NaN                     Animation     NaN

                                            description  \
0     When Puss in Boots discovers that his passion ...
1     The story of The Super Mario Bros. on their jo...
2     All the Upper Rank Demons assemble at the Infi...
3     A father's wish magically brings a wooden boy ...
4     Feature film based on the children's book abou...
...                                                 ...
8414  Join Nati, as she narrates and takes you insid...
8415  With gangs to terrorists across Roblox City, t...
8416  An ancient object with mystical powers will ch...
8417                                         Add a Plot
8418                                         Add a Plot

                                  director        director_id  \
0          Joel Crawford, \nJanuel Mercado   /name/nm3150455/
1         Aaron Horvath, \nMichael Jelenic   /name/nm1739338/
2                           Haruo Sotozaki   /name/nm1417038/
3     Guillermo del Toro, \nMark Gustafson   /name/nm0868219/
4                Josh Gordon, \nWill Speck   /name/nm0330347/
...                                    ...                ...
8414                         Levente Szabó   /name/nm1835435/
8415                       Gamer J Studios  /name/nm14625588/
8416                               Zili He   /name/nm6964310/
8417                    Charles E. Bastien   /name/nm0060505/
8418                       Roberto Saviano   /name/nm2500207/

                                                   star  \
0     Antonio Banderas, \nSalma Hayek, \nHarvey Guil...
1     Chris Pratt, \nAnya Taylor-Joy, \nCharlie Day,...
2     Zach Aguilar, \nKira Buckland, \nGriffin Burns...
3     Ewan McGregor, \nDavid Bradley, \nGregory Mann...
4     Javier Bardem, \nWinslow Fegley, \nShawn Mende...
...                                                 ...
8414                       Dr. Szabó Varsányi Alexandra
8415  Jordan Alexander, \nJacobRBLX, \nJayvitz, \nKa...
8416  Brian Beacock, \nRichard Epcar, \nMelissa Mabi...
8417                                                NaN
8418                                                NaN

                                                star_id    votes  gross(in $)
0     /name/nm2591093/,/name/nm0000104/,/name/nm0000...  93143.0  168464485.0
1     /name/nm2398585/,/name/nm0695435/,/name/nm5896...      NaN          NaN
2     /name/nm6450743/,/name/nm2299231/,/name/nm4232...   1316.0          NaN
3     /name/nm0348993/,/name/nm0000191/,/name/nm0103...  86296.0          NaN
4     /name/nm0817447/,/name/nm0000849/,/name/nm9121...   9351.0   46888441.0
...                                                 ...      ...          ...
8414                                  /name/nm13928317/      NaN          NaN
8415  /name/nm14625580/,/name/nm14625579/,/name/nm14...      NaN          NaN
8416  /name/nm0063527/,/name/nm0258268/,/name/nm3040...      NaN          NaN
8417                                                NaN      NaN          NaN
8418                                                NaN      NaN          NaN

[8419 rows x 14 columns], 'biography_data':         movie_id                                    movie_name  year  \
0      tt3704428                                         Elvis  2022
1      tt0993846                       The Wolf of Wall Street  2013
2      tt0264464                           Catch Me If You Can  2002
3     tt12374656                                         Emily  2022
4     tt15398776                                   Oppenheimer  2023
...          ...                                           ...   ...
8284  tt27036537                         The Beauty of a Woman   NaN
8285  tt27047718  Armandinho Muito Mais Que O Azul De Zanzibar  2021
8286  tt27050530                                         Baraa   NaN
8287  tt27052307                       Maserati: a Racing Life   NaN
8288  tt27053625                                         Anwar   NaN

     certificate  runtime                      genre  rating  \
0          PG-13  159 min    Biography, Drama, Music     7.3
1              R  180 min   Biography, Comedy, Crime     8.2
2          PG-13  141 min    Biography, Crime, Drama     8.1
3              R  130 min  Biography, Drama, Romance     6.9
4            NaN      NaN  Biography, Drama, History     NaN
...          ...      ...                        ...     ...
8284         NaN      NaN                  Biography     NaN
8285         NaN   90 min                  Biography     NaN
8286         NaN      NaN   Biography, Comedy, Drama     NaN
8287         NaN      NaN                  Biography     NaN
8288         NaN      NaN                  Biography     NaN

                                            description           director  \
0     The life of American music icon Elvis Presley,...       Baz Luhrmann
1     Based on the true story of Jordan Belfort, fro...    Martin Scorsese
2     Barely 21 yet, Frank is a skilled forger who h...   Steven Spielberg
3     "Emily" imagines the transformative, exhilarat...   Frances O'Connor
4     The story of American scientist J. Robert Oppe...  Christopher Nolan
...                                                 ...                ...
8284  In 1966 France, actress Audrey Hepburn navigat...                NaN
8285                                         Add a Plot     Daniel Talento
8286  Baraa is a half-Bahraini half-Saudi man who ha...  Loay cielo Tattan
8287  Explores the family that is responsible for th...                NaN
8288  The life of the Bahraini actor "Anwar Ahmed" i...  Loay cielo Tattan

            director_id                                               star  \
0      /name/nm0525303/  Tom Hanks, \nAustin Butler, \nOlivia DeJonge, ...
1      /name/nm0000217/  Leonardo DiCaprio, \nJonah Hill, \nMargot Robb...
2      /name/nm0000229/  Leonardo DiCaprio, \nTom Hanks, \nChristopher ...
3      /name/nm0640323/  Emma Mackey, \nOliver Jackson-Cohen, \nFionn W...
4      /name/nm0634240/  Cillian Murphy, \nEmily Blunt, \nMatt Damon, \...
...                 ...                                                ...
8284                NaN                                                NaN
8285   /name/nm2017349/  Beto Barreto, \nDadi Carvalho, \nMú Carvalho, ...
8286  /name/nm14517689/                                                NaN
8287                NaN                                                NaN
8288  /name/nm14517689/                                        Anwar Ahmed

                                                star_id      votes  \
0     /name/nm0000158/,/name/nm2581521/,/name/nm4609...   189732.0
1     /name/nm0000138/,/name/nm1706767/,/name/nm3053...  1437780.0
2     /name/nm0000138/,/name/nm0000158/,/name/nm0000...  1003050.0
3     /name/nm8076281/,/name/nm2719825/,/name/nm7887...     3888.0
4     /name/nm0614165/,/name/nm1289434/,/name/nm0000...        NaN
...                                                 ...        ...
8284                                                NaN        NaN
8285  /name/nm14629634/,/name/nm14629636/,/name/nm14...        NaN
8286                                                NaN        NaN
8287                                                NaN        NaN
8288                                   /name/nm1616321/        NaN

      gross(in $)
0     151040048.0
1     116900694.0
2     164615351.0
3             NaN
4             NaN
...           ...
8284          NaN
8285          NaN
8286          NaN
8287          NaN
8288          NaN

[8289 rows x 14 columns], 'crime_data':          movie_id              movie_name  year certificate  runtime  \
0       tt5433140                  Fast X  2023         NaN      NaN
1      tt11564570             Glass Onion  2022       PG-13  139 min
2      tt10365998           Infinity Pool  2023           R  117 min
3      tt14138650       The Pale Blue Eye  2022           R  128 min
4      tt15789492                Infiesto  2023       TV-MA   96 min
...           ...                     ...   ...         ...      ...
35847  tt26738164       Pain Killer Kings   NaN         NaN      NaN
35848  tt26738615             Joker Joker  2023         NaN      NaN
35849  tt26739274            Female Tazza  2021         NaN   96 min
35850  tt26739517       Dead in the Water     V         NaN      NaN
35851  tt26744226  Twisted Batman Theatre  1998         NaN   45 min

                          genre  rating  \
0        Action, Crime, Mystery     NaN
1          Comedy, Crime, Drama     7.2
2        Crime, Horror, Mystery     6.5
3        Crime, Horror, Mystery     6.6
4        Crime, Drama, Thriller     5.5
...                         ...     ...

In [ ]:
# Loading datasets from dynamic path
scifi_file = os.path.join(genre_data, "scifi.csv")
stream_file = os.path.join(stream_data, "MoviesOnStreamingPlatforms.csv")
if os.path.exists(scifi_file):
    scifi_df = pd.read_csv(scifi_file)
    print("Sci-Fi dataset loaded successfully!")
else:
    print(f"Error: {scifi_file} not found!")
if os.path.exists(stream_file):
    stream_df = pd.read_csv(stream_file)
    print("Stream, dataset loaded successfully!")
else:
    print(f"Error: {stream_file} not found!")

Sci-Fi dataset loaded successfully!
Stream, dataset loaded successfully!

In [129]:
def list_files(directory):
    try:
        files = os.listdir(directory)
        return files
    except FileNotFoundError:
        return f"The directory {directory} was not found."
    except Exception as e:
        return str(e)

file_list = list_files(genre_data)
print("Files in directory:", file_list)

Files in directory: ['action.csv', 'adventure.csv', 'animation.csv', 'biography.csv', 'crime.csv', 'family.csv', 'fantasy.csv', 'film-noir.csv', 'history.csv', 'horror.csv', 'mystery.csv', 'romance.csv', 'scifi.csv', 'sports.csv', 'thriller.csv', 'war.csv']

### Cleaning the Movie Lists to prepare merging.

In [83]:
#cleaning scifi df
scifi_df.columns = (
    scifi_df.columns
    .str.upper()
    .str.strip()
    .str.replace('_',' ')
)
scifi_cleaned.columns = scifi_cleaned.columns.str.strip().str.upper()
scifi_cleaned = scifi_df.drop(
    ['MOVIE ID', 'RUNTIME', 'DIRECTOR', 'DIRECTOR ID', 'STAR', 'STAR ID', 'VOTES'], axis='columns'
    )
scifi_cleaned = scifi_cleaned.dropna()

scifi_cleaned['YEAR'] = pd.to_numeric(scifi_cleaned['YEAR'], errors='coerce')
scifi_cleaned['CERTIFICATE'] = scifi_cleaned['CERTIFICATE'].astype('category')

#scifi_cleaned.info()
scifi_cleaned.head()

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $)
6,Black Panther,2018,PG-13,"Action, Adventure, Sci-Fi",7.3,"T'Challa, heir to the hidden but advanced king...",700059566.0
7,Avatar,2009,PG-13,"Action, Adventure, Fantasy",7.9,A paraplegic Marine dispatched to the moon Pan...,760507625.0
11,Interstellar,2014,PG-13,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,188020017.0
13,The Hunger Games,2012,PG-13,"Action, Adventure, Sci-Fi",7.2,Katniss Everdeen voluntarily takes her younger...,408010692.0
14,Dune,2021,PG-13,"Action, Adventure, Drama",8.0,A noble family becomes embroiled in a war for ...,108327830.0

### Cleaning Streaming Data to prepare for merge.

In [84]:
# Cleaning of stream data
stream_df.columns = (
    stream_df.columns
    .str.upper()
    .str.strip()
    .str.replace('_',' ')
)

stream_cleaned = stream_df.drop(
    ['UNNAMED: 0', 'ID', 'YEAR', 'AGE', 'TYPE'], axis ='columns')

stream_cleaned[['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']] = stream_cleaned[['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']].astype(bool)
stream_cleaned = stream_cleaned.rename(columns={'TITLE': 'MOVIE NAME'})
stream_cleaned = stream_cleaned.dropna()
#stream_cleaned.info()
stream_cleaned.columns = stream_cleaned.columns.str.strip().str.upper()
stream_cleaned.head()

,MOVIE NAME,ROTTEN TOMATOES,NETFLIX,HULU,PRIME VIDEO,DISNEY+
0,The Irishman,98/100,True,False,False,False
1,Dangal,97/100,True,False,False,False
2,David Attenborough: A Life on Our Planet,95/100,True,False,False,False
3,Lagaan: Once Upon a Time in India,94/100,True,False,False,False
4,Roma,94/100,True,False,False,False

### Sorted columns by rating

In [85]:
#scifi_cleaned
scifi_cleaned_sorted = scifi_cleaned.sort_values(by=['RATING'], ascending=[False])
scifi_cleaned_sorted.head(10)

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $)
18,Inception,2010,PG-13,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,292576195.0
25,The Matrix,1999,R,"Action, Sci-Fi",8.7,When a beautiful stranger leads computer hacke...,171479930.0
149,Star Wars: Episode V - The Empire Strikes Back,1980,PG,"Action, Adventure, Fantasy",8.7,After the Rebels are overpowered by the Empire...,290475067.0
71,Terminator 2: Judgment Day,1991,R,"Action, Sci-Fi",8.6,"A cyborg, identical to the one who failed to k...",204843350.0
11,Interstellar,2014,PG-13,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,188020017.0
51,Star Wars,1977,PG,"Action, Adventure, Fantasy",8.6,Luke Skywalker joins forces with a Jedi Knight...,322740140.0
47,Alien,1979,R,"Horror, Sci-Fi",8.5,The crew of a commercial spacecraft encounter ...,78900000.0
34,Back to the Future,1985,PG,"Adventure, Comedy, Sci-Fi",8.5,"Marty McFly, a 17-year-old high school student...",210609762.0
35,The Prestige,2006,PG-13,"Drama, Mystery, Sci-Fi",8.5,"After a tragic accident, two stage magicians i...",53089891.0
55,Avengers: Infinity War,2018,PG-13,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,678815482.0

In [86]:
scifi_stream_df = scifi_cleaned.merge(
    stream_cleaned[['MOVIE NAME', 'NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']],
    on='MOVIE NAME',
    how='left'
)
#print(scifi_stream_df.head())
#print(scifi_stream_df.info())
scifi_stream_df

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $),NETFLIX,HULU,PRIME VIDEO,DISNEY+
0,Black Panther,2018,PG-13,"Action, Adventure, Sci-Fi",7.3,"T'Challa, heir to the hidden but advanced king...",700059566.0,False,False,False,True
1,Avatar,2009,PG-13,"Action, Adventure, Fantasy",7.9,A paraplegic Marine dispatched to the moon Pan...,760507625.0,False,False,False,True
2,Interstellar,2014,PG-13,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,188020017.0,NaN,NaN,NaN,NaN
3,The Hunger Games,2012,PG-13,"Action, Adventure, Sci-Fi",7.2,Katniss Everdeen voluntarily takes her younger...,408010692.0,NaN,NaN,NaN,NaN
4,Dune,2021,PG-13,"Action, Adventure, Drama",8.0,A noble family becomes embroiled in a war for ...,108327830.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1186,Planetfall,2005,Not Rated,"Action, Sci-Fi, Western",2.7,A spaghetti western in science fiction clothin...,2710.0,NaN,NaN,NaN,NaN
1187,Chaos,2002,R,Sci-Fi,3.7,In the near future a young biker leaves his cr...,204274.0,NaN,NaN,NaN,NaN
1188,Jim,2010,Unrated,"Drama, Fantasy, Sci-Fi",5.5,A desperate man hires an advanced biotech firm...,13015.0,NaN,NaN,NaN,NaN
1189,The Strategist Anthology,2013,PG-13,"Action, Adventure, Sci-Fi",6.8,Isaac must stop a madman before he changes the...,1000.0,NaN,NaN,NaN,NaN
1190,Last Flight of the Champion,2013,PG,"Animation, Comedy, Family",5.4,Neddie Nerfhoffer has a dream. He wants to do ...,2220.0,NaN,NaN,NaN,NaN

In [90]:
scifi_stream_df = scifi_stream_df.dropna()

scifi_stream_df_top_rated = scifi_stream_df.sort_values(by=['RATING'], ascending=[False])
scifi_stream_df_top_rated

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $),NETFLIX,HULU,PRIME VIDEO,DISNEY+
42,Terminator 2: Judgment Day,1991,R,"Action, Sci-Fi",8.6,"A cyborg, identical to the one who failed to k...",204843350.0,True,False,False,False
24,Alien,1979,R,"Horror, Sci-Fi",8.5,The crew of a commercial spacecraft encounter ...,78900000.0,False,False,True,False
30,Avengers: Infinity War,2018,PG-13,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,678815482.0,False,False,False,True
7,Avengers: Endgame,2019,PG-13,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,858373000.0,False,False,False,True
115,WALL·E,2008,G,"Animation, Adventure, Family",8.4,"In the distant future, a small waste-collectin...",223808164.0,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
713,Double Dragon,1994,PG-13,"Action, Adventure, Comedy",3.9,Two brothers have half of a powerful ancient C...,2341309.0,False,False,True,False
681,The Avengers,1998,PG-13,"Action, Adventure, Sci-Fi",3.8,Two British Agents team up to stop Sir August ...,23322832.0,False,False,False,True
423,Left Behind,2014,PG-13,"Action, Fantasy, Sci-Fi",3.1,A small group of survivors is left behind afte...,13998282.0,False,False,True,False
526,Battlefield Earth,2000,PG-13,"Action, Adventure, Sci-Fi",2.5,"It's the year 3000 A.D., and the Earth is lost...",21471685.0,True,False,False,False
1151,Joker,2012,Not Rated,"Comedy, Family, Sci-Fi",2.4,A space scientist working on a project to comm...,127954.0,True,False,True,False

In [96]:
netflix_count = scifi_stream_df_top_rated[scifi_stream_df_top_rated['NETFLIX'] == True].shape[0]
hulu_count = scifi_stream_df_top_rated[scifi_stream_df_top_rated['HULU'] == True].shape[0]
print(f"NETFLIX ", netflix_count)
print(f"HULU ", hulu_count)

NETFLIX  55
HULU  69

In [126]:
def stream_count(df, column_name):
    count = df[df[column_name] == True].shape[0]
    print(f'Total available on {column_name}: {count}')
    return count

In [127]:
def stream_totals(df):
    stream_services = ['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']

    stream_counts = {}
    for service in stream_services:
        count = stream_count(df, service)
        stream_counts[service] = count
    return stream_counts

In [116]:
print(f'Total available on', stream_count(scifi_stream_df_top_rated, 'NETFLIX'), 'NETFLIX')

Total available on 55 NETFLIX

In [128]:
stream_totals(scifi_stream_df_top_rated)

Total available on NETFLIX: 55
Total available on HULU: 69
Total available on PRIME VIDEO: 76
Total available on DISNEY+: 62

{'NETFLIX': 55, 'HULU': 69, 'PRIME VIDEO': 76, 'DISNEY+': 62}