# SciFi Movie Analysis

### Importing modules

In [1]:
# importing modules
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter
import requests
import os

### Saving Datasets to user computer and loading it dynamically

In [2]:
# saving to paths
genre_data = kagglehub.dataset_download("rajugc/imdb-movies-dataset-based-on-genre")
stream_data = kagglehub.dataset_download("ruchi798/movies-on-netflix-prime-video-hulu-and-disney")
print("Path to dataset files:", genre_data)
print("Path to dataset files:", stream_data)

Path to dataset files: C:\Users\drvan\.cache\kagglehub\datasets\rajugc\imdb-movies-dataset-based-on-genre\versions\3
Path to dataset files: C:\Users\drvan\.cache\kagglehub\datasets\ruchi798\movies-on-netflix-prime-video-hulu-and-disney\versions\5

In [3]:
# Loading datasets from dynamic path

#scifi_file = os.path.join(genre_data, "scifi.csv")
stream_file = os.path.join(stream_data, "MoviesOnStreamingPlatforms.csv")
#if os.path.exists(scifi_file):
 #   scifi_df = pd.read_csv(scifi_file)
  #  print("Sci-Fi dataset loaded successfully!")
#else:
 #   print(f"Error: {scifi_file} not found!")
if os.path.exists(stream_file):
    stream_df = pd.read_csv(stream_file)
    print("Stream, dataset loaded successfully!")
else:
    print(f"Error: {stream_file} not found!")

Stream, dataset loaded successfully!

In [4]:
# Genre Funtions.

def action():
    movie_file = os.path.join(genre_data, "action.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def adventure():
    movie_file = os.path.join(genre_data, "adventure.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def animation():
    movie_file = os.path.join(genre_data, "animation.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def biography():
    movie_file = os.path.join(genre_data, "biography.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def crime():
    movie_file = os.path.join(genre_data, "crime.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def family():
    movie_file = os.path.join(genre_data, "family.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def fantasy():
    movie_file = os.path.join(genre_data, "fantasy.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def film_noir():
    movie_file = os.path.join(genre_data, "film-noir.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def history():
    movie_file = os.path.join(genre_data, "history.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def horror():
    movie_file = os.path.join(genre_data, "horror.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def mystery():
    movie_file = os.path.join(genre_data, "mystery.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def romance():
    movie_file = os.path.join(genre_data, "romance.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def scifi():
    movie_file = os.path.join(genre_data, "scifi.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def sports():
    movie_file = os.path.join(genre_data, "sports.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df
def thriller():
    movie_file = os.path.join(genre_data, "thriller.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df

def war():
    movie_file = os.path.join(genre_data, "war.csv")
    if os.path.exists(movie_file):
        movie_df = pd.read_csv(movie_file)
        print("Movie dataset loaded successfully!")
    else:
        print(f"Error: {movie_file} not found!")
    return movie_df

genre_options = {
    "1": action,
    "2": adventure,
    "3": animation,
    "4": biography,
    "5": crime,
    "6": family,
    "7": fantasy,
    "8": film_noir,
    "9": history,
    "10": horror,
    "11": mystery,
    "12": romance,
    "13": scifi,
    "14": sports,
    "15": thriller,
    "16": war,
}

In [7]:
print(
    "Please Select a Genre:",
    "\n1. Action"
    "\n2. Adventure"
    "\n3. Animation"
    "\n4. Biography"
    "\n5. Crime"
    "\n6. Family"
    "\n7. Fantasy"
    "\n8. Film Noir"
    "\n9. History"
    "\n10. Horror"
    "\n11. Mystery"
    "\n12. Romance"
    "\n13. Scifi"
    "\n14. Sports"
    "\n15. Thriller"
    "\n16. War"
)
choice = input("Enter the number of your choice:")

if choice in genre_options:
    movie_df = genre_options[choice]()
else:
    print("Invalid choice.  Please try again.")

Please Select a Genre:
1. Action
2. Adventure
3. Animation
4. Biography
5. Crime
6. Family
7. Fantasy
8. Film Noir
9. History
10. Horror
11. Mystery
12. Romance
13. Scifi
14. Sports
15. Thriller
16. War
Movie dataset loaded successfully!

In [9]:
movie_df.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt1016150,All Quiet on the Western Front,2022,R,148 min,"Action, Drama, War",7.8,A young German soldier's terrifying experience...,Edward Berger,/name/nm0074163/,"Felix Kammerer, \nAlbrecht Schuch, \nAaron Hil...","/name/nm0436835/,/name/nm3477129/,/name/nm6037...",139754.0,NaN
1,tt2584384,Jojo Rabbit,2019,PG-13,108 min,"Comedy, Drama, War",7.9,A young German boy in the Hitler Youth whose h...,Taika Waititi,/name/nm0169806/,"Roman Griffin Davis, \nThomasin McKenzie, \nSc...","/name/nm9877392/,/name/nm5057169/,/name/nm0424...",399264.0,33370906.0
2,tt7693316,Devotion,2022,PG-13,139 min,"Action, Drama, War",6.6,A pair of U.S. Navy fighter pilots risk their ...,J.D. Dillard,/name/nm2300570/,"Jonathan Majors, \nGlen Powell, \nChristina Ja...","/name/nm3718007/,/name/nm1412974/,/name/nm2325...",15135.0,NaN
3,tt9737876,Narvik: Hitler's First Defeat,2022,TV-14,108 min,"Drama, History, War",6.6,April 1940. The eyes of the world are on Narvi...,Erik Skjoldbjærg,/name/nm0804408/,"Billy Campbell, \nKristine Hartgen, \nStig Hen...","/name/nm0001004/,/name/nm12242794/,/name/nm038...",9051.0,NaN
4,tt3291150,The Expendables 4,2023,NaN,NaN,"Action, Adventure, Thriller",NaN,The Expendables will square up against: an arm...,Scott Waugh,/name/nm0915304/,"Jason Statham, \n50 Cent, \nMegan Fox, \nDolph...","/name/nm0005458/,/name/nm1265067/,/name/nm1083...",NaN,NaN

### Cleaning the Movie Lists to prepare merging.

In [15]:
def clean(df):
    df.columns = (
        df.columns
        .str.upper()
        .str.strip()
        .str.replace('_', ' ')
    )
    return df

def organize(df):
    df = df.drop(
        ['MOVIE ID', 'RUNTIME', 'DIRECTOR', 'DIRECTOR ID', 'STAR', 'STAR ID', 'VOTES'], axis='columns'
        )
    df = df.dropna()
    df['YEAR'] = pd.to_numeric(df['YEAR'], errors='coerce')
    df['CERTIFICATE']= df['CERTIFICATE'].astype('category')
    return df

def

In [16]:
movie_df = clean(movie_df)
movie_df = organize(movie_df)
movie_df

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $)
1,Jojo Rabbit,2019,PG-13,"Comedy, Drama, War",7.9,A young German boy in the Hitler Youth whose h...,33370906.0
5,Inglourious Basterds,2009,R,"Adventure, Drama, War",8.3,"In Nazi-occupied France during World War II, a...",120540719.0
6,Dunkirk,2017,PG-13,"Action, Drama, History",7.8,"Allied soldiers from Belgium, the British Comm...",188373161.0
7,Apocalypse Now,1979,R,"Drama, Mystery, War",8.5,A U.S. Army officer serving in Vietnam is task...,83471511.0
8,Edge of Tomorrow,2014,PG-13,"Action, Adventure, Sci-Fi",7.9,A soldier fighting aliens gets to relive the s...,100206256.0
...,...,...,...,...,...,...,...
4583,The Enemy,1927,Passed,"Drama, Romance, War",7.6,"Carl Behrend, son of a wealthy businessman, ma...",473850.0
5176,Brothers in Arms,2003,Unrated,War,6.0,John Kerry and his Mekong Delta Navy fastboat ...,3270.0
6018,Prisoner of Japan,1942,Passed,"Drama, War",4.6,On a small tropical island in the South Pacifi...,350000.0
6046,We're in the Navy Now,1926,Passed,"Comedy, Romance, War",5.5,"""Stinky"" Smith makes off with the prize money ...",725214.0
9255,Corporal Kate,1926,Passed,"Comedy, Drama, Romance",6.0,Kate Jones and Becky Finkelstein are manicuris...,147000.0

### Cleaning Streaming Data to prepare for merge.

In [17]:
# Cleaning of stream data
stream_df.columns = (
    stream_df.columns
    .str.upper()
    .str.strip()
    .str.replace('_',' ')
)

stream_df = stream_df.drop(
    ['UNNAMED: 0', 'ID', 'YEAR', 'AGE', 'TYPE'], axis ='columns')

stream_df[['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']] = stream_df[['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']].astype(bool)
stream_df = stream_df.rename(columns={'TITLE': 'MOVIE NAME'})
stream_df = stream_df.dropna()
#stream_cleaned.info()
stream_df.columns = stream_df.columns.str.strip().str.upper()
stream_df.head()

,MOVIE NAME,ROTTEN TOMATOES,NETFLIX,HULU,PRIME VIDEO,DISNEY+
0,The Irishman,98/100,True,False,False,False
1,Dangal,97/100,True,False,False,False
2,David Attenborough: A Life on Our Planet,95/100,True,False,False,False
3,Lagaan: Once Upon a Time in India,94/100,True,False,False,False
4,Roma,94/100,True,False,False,False

### Sorted columns by rating

In [ ]:
#scifi_cleaned
scifi_cleaned_sorted = scifi_cleaned.sort_values(by=['RATING'], ascending=[False])
scifi_cleaned_sorted.head(10)

In [19]:
movie_stream_df = movie_df.merge(
    stream_df[['MOVIE NAME', 'NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']],
    on='MOVIE NAME',
    how='left'
)
#print(scifi_stream_df.head())
#print(scifi_stream_df.info())
movie_stream_df = movie_stream_df.dropna()

movie_stream_df

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $),NETFLIX,HULU,PRIME VIDEO,DISNEY+
8,Brothers,2009,R,"Drama, Thriller, War",7.1,"While on tour in Afghanistan, Sam's copter is ...",28501651.0,True,False,False,False
13,The Pianist,2002,R,"Biography, Drama, Music",8.5,A Polish Jewish musician struggles to survive ...,32572577.0,True,False,False,False
19,Tropic Thunder,2008,R,"Action, Comedy, War",7.1,"Through a series of freak occurrences, a group...",110515313.0,False,False,True,False
21,Red Dawn,1984,PG-13,"Action, Drama, Thriller",6.3,It is the dawn of World War III. In the west m...,38376497.0,False,True,False,False
24,Pan's Labyrinth,2006,R,"Drama, Fantasy, War",8.2,"In the Falangist Spain of 1944, the bookish yo...",37634615.0,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
552,Into the Sun,1991,R,"Action, Comedy, War",5.1,A fighter pilot is reluctantly paired with a H...,641886.0,False,False,True,False
555,Girls of the Sun,2018,Not Rated,"Drama, War",6.5,A Kurdish female battalion prepares to take ba...,19712.0,False,False,True,False
556,Heneral Luna,2015,R,"Action, Biography, History",7.3,"Set during the Philippine-American war, a shor...",195580.0,True,False,False,False
622,Betrayed,1954,Approved,"Drama, History, Music",6.1,A Dutch intelligence officer recruits an allie...,1970000.0,False,False,True,False
635,Joan the Woman,1916,Passed,"Adventure, Drama, History",6.4,A WWI English officer is inspired the night be...,1320493.0,False,False,True,False

In [20]:
movie_stream_df_toprated = movie_stream_df.sort_values(by=['RATING'], ascending=[False])
movie_stream_df_toprated

,MOVIE NAME,YEAR,CERTIFICATE,GENRE,RATING,DESCRIPTION,GROSS(IN $),NETFLIX,HULU,PRIME VIDEO,DISNEY+
13,The Pianist,2002,R,"Biography, Drama, Music",8.5,A Polish Jewish musician struggles to survive ...,32572577.0,True,False,False,False
24,Pan's Labyrinth,2006,R,"Drama, Fantasy, War",8.2,"In the Falangist Spain of 1944, the bookish yo...",37634615.0,True,False,False,False
85,Ran,1985,R,"Action, Drama, War",8.2,"In Medieval Japan, an elderly warlord retires,...",4135750.0,False,False,True,False
95,Hotel Rwanda,2004,PG-13,"Biography, Drama, History",8.1,"Paul Rusesabagina, a hotel manager, houses ove...",23530892.0,False,False,True,False
126,Patton,1970,GP,"Biography, Drama, War",7.9,The World War II phase of the career of contro...,61700000.0,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
319,Valiant,2005,G,"Animation, Adventure, Comedy",5.5,"At the height of World War II, a tiny wood pig...",19478106.0,False,False,False,True
351,Rock the Kasbah,2015,R,"Comedy, Music, War",5.5,A down-on-his-luck music manager discovers a t...,2982281.0,True,False,False,False
405,Operation Dumbo Drop,1995,PG,"Action, Adventure, Comedy",5.2,To keep the loyalty of a village during the Vi...,24700000.0,False,False,False,True
552,Into the Sun,1991,R,"Action, Comedy, War",5.1,A fighter pilot is reluctantly paired with a H...,641886.0,False,False,True,False
411,Tubelight,2017,Not Rated,"Drama, War",3.9,A story of two brothers set during the Sino-In...,930058.0,False,False,True,False

In [28]:
def stream_count(df, column_name):
    count = df[df[column_name] == True].shape[0]
    print(f'Total available on {column_name}: {count}')
    return count

In [29]:
def stream_totals(df):
    stream_services = ['NETFLIX', 'HULU', 'PRIME VIDEO', 'DISNEY+']

    stream_counts = {}
    for service in stream_services:
        count = stream_count(df, service)
        stream_counts[service] = count
    return stream_counts

In [30]:
stream_totals(movie_stream_df_toprated)

Total available on NETFLIX: 27
Total available on HULU: 15
Total available on PRIME VIDEO: 42
Total available on DISNEY+: 4

{'NETFLIX': 27, 'HULU': 15, 'PRIME VIDEO': 42, 'DISNEY+': 4}